<aside>
    <h2>apps-realm-a-client-a-private-route works!</h2>
    <nav>
        <ul>
            <li><a [routerLink]="['route-a']">Route A</a></li>
            <li><a [routerLink]="['route-b']">Route B</a></li>
        </ul>
    </nav>
</aside>
<section>
    <router-outlet></router-outlet>
</section>
