:host {
    display: grid;
    grid-template-areas: 
      "aside section";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    height: 100%;
  
    aside {
      background-color: #ffffff;
      grid-area: aside;
  
      h2 {
        color: #000000;
        text-align: center;
      }
    }
  
    section {
      grid-area: section;
    }
}
