<aside>
    <h2>apps-realm-a-client-a-public-route works!</h2>
    <nav>
        <ul>
            <li><a [routerLink]="['route-y']">Route Y</a></li>
            <li><a [routerLink]="['route-z']">Route Z</a></li>
        </ul>
    </nav>
</aside>
<section>
    <router-outlet></router-outlet>
</section>
