
<ng-container
  *ngIf="{looperDueTime: looperDueTime$ | async, looperIsLooping: looperIsLooping$ | async, looperPeriod: looperPeriod$ | async} as _"
>
  <pre>{{ _ | json }}</pre>
</ng-container>
<router-outlet></router-outlet>
