:host {
	display: grid;
	grid-template-areas:
	  "header"
	  "main";
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	height: 100%;

	header {
	  grid-area: header;

	  h1 {
		text-align: center;
	  }
	}

	main {
	  background-color: #000000;
	  color: #ffffff;
	  grid-area: main;
	}
  }
